<div id="experiencia_laboral_edit">
    <input type="hidden" name="id_experience" value="">
    <div class="input_form_second mb-10 text-left">
        <div class="label">
            <p>*Empresa</p>
        </div>
        <div class="input">
            <input type="text" placeholder="" data-role="none" name="empresa">
        </div>
    </div>
    <div class="input_form_second mb-10 text-left">
        <div class="label">
            <p>Puesto</p>
        </div>
        <div class="input">
            <select name="puesto" name="puesto">
                <option value="">Selecciona puesto</option>
                <option value="programador">Programador</option>
                <option value="contador">Contador</option>
                <option value="disenador">Diseñador</option>
                <option value="otro">Otro</option>
            </select>
        </div>
    </div>
    <div class="input_form_second display-none mb-10 text-left" id="otro_puesto">
        <div class="label">
            <p>*Específica el puesto</p>
        </div>
        <div class="input">
            <input type="text" placeholder="" data-role="none" name="especifica_puesto">
        </div>
    </div>
    <div class="input_form_second mb-10 text-left">
        <div class="label">
            <p>Tiempo laborado</p>
        </div>
        <div class="input">
            <select name="tiempo_laborado">
                <option value="">Selecciona tiempo laborado</option>
                <option value="1">Menos de 1 año</option>
                <option value="1_2">Entre 1 y 2 años</option>
                <option value="2_3">Entre 2 y 3 años</option>
                <option value="3">Más de 3 años</option>
            </select>
        </div>
    </div>
    <div class="input_form_second text-left mb-10">
        <div class="label">
            <p>¿Actualmente estás laborando aquí?</p>
        </div>
        <div class="selects_inputs select_total_2">
            <div class="radio_input" name="laborando_radio" value="si">
                <div class="circle"></div>
                <p>Sí</p>
            </div>
            <div class="radio_input active" name="laborando_radio" value="no">
                <div class="circle"></div>
                <p>No</p>
            </div>
        </div>
    </div>

    <br>
    <br>

    <div class="text-center">
        <a class="little_text" data-role="none" onclick="remove_experiencia_laboral();">Eliminar experiencia laboral</a>
    </div>

</div>