
<div id="recuperar_contrasena">
    <div class="input_form_second mb-10 text-left">
        <div class="label text-center">
            <p>Ingresa el número telefónico con el que creaste tu cuenta para restablecer tu contraseña:</p>
        </div>
        <div class="input">
            <input type="tel" placeholder="" data-role="none" name="numero_telefonico">
        </div>
    </div>
</div>