 


@font-face {
  font-family: 'FjallaOne';
  src: url(BebasNeueBold.ttf);
}

@font-face {
  font-family: 'Oswald-Regular';
  src: url(Oswald-Regular.ttf);
}


@font-face {
  font-family: 'NexaLight';
  src: url(NexaLight.ttf);
}


.Oswald-Regular{
    font-family: 'Oswald-Regular' !important;   
}

.FjallaOne{
    font-family: 'FjallaOne';   
}

.ui-content{
    padding: 0 !important;
}
 
/*
.ui-mobile .ui-page{
*/
body{
    background: url("../img/bg_app.png") center center;
    background-size: 100% auto;
    background-repeat: repeat-y;
}
 
.ui-page, .ui-content {
    background: transparent;
}





.text-center{
    text-align: center;
}

.text-left{
    text-align: left;
}

.text-right{
    text-align: right;
}

p{
    margin: 0;
    padding: 0;
}

.header_logo{
    background: #311838;
    display: inline-block;
    width: 100%;
    padding: 10px 0;
}

.header_logo img{
    display: inline-block;
    max-height: 105px;
}

.login_button_social{
    margin-bottom: -60px;
}

.login_button_social img{
    display: inline-block;
    height: 60px;
}

.login_button_social .facebook{
    margin-right: 5px;
}

.login_button_social .twitter{
    margin-left: 5px;
}

.vino_icon_login{
    width: 50px;
}

.color_purple, .bg_purple{
    color: #311838 !important;
}

.color_orange{
    color: #dd892f;    
}

.title_type_1{
    font-size: 26px;
    font-weight: bold;
    font-family: 'FjallaOne';
    text-shadow: none;
}

.title_type_2{
    font-size: 14px;
    font-weight: 100 !important;
    color: #434444 !important;
    line-height: inherit;
    display: inline-block;  
}

.title_type_3{
    font-size: 11px;
}

.title_type_4{
    font-size: 18px;
    font-weight: bold;
    font-family: 'FjallaOne';
    text-shadow: none;
}


.title_type_5{
    font-size: 27px;
    font-weight: bold;
    font-family: 'FjallaOne';
    text-shadow: none;
}

.title_type_7 {
    font-size: 36px;
    font-weight: bold;
    font-family: 'FjallaOne';
    text-shadow: none;
}

.title_type_8 {
    font-size: 20px;
    text-shadow: none;
}

.title_type_9 {
    font-size: 63px;
    font-weight: bold;
    font-family: 'FjallaOne';
    text-shadow: none;
}

.font_type_1{
    font-size: 14px;
}

.form_group_icon{
    width: 100%;
    display: inline-block;
    text-align: center;
}

.form_group_icon img{
    display: inline-block;
    width: 35px;
    height: 35px;
    padding: 5px;
    vertical-align: top;
}

.login_form{
    width: 270px;
    margin: 0 auto;
    background: white;
    border: 1px solid #311838;
    border-radius: 10px;
    padding: 5px 0;    
}

.login_form .border_bottom{
    border-bottom: 1px solid #311838;
}

.form_group_icon input[type="text"], .form_group_icon input[type="email"], .form_group_icon input[type="number"], .form_group_icon input[type="password"]{
    display: inline-block;
    width: 200px;
    height: 35px;
    margin: 5px 0;
    vertical-align: top;
    border: 0;
    outline: none;
}

.c_w82{
    width: 82%;
    margin: 0 9%;
    display: inline-block;   
}

 
.edit_field_icon input[type="text"], .edit_field_icon input[type="email"], .edit_field_icon input[type="number"], .edit_field_icon input[type="password"]{
   background: url("../img/editar_icon.png") no-repeat;
   background-position: 95% center;
   background-size: contain;
   margin-right: 10px; 
}




.input_icon_right{
    border: 2px solid #311838;
    border-radius: 5px;  
    background-color: white;  
}
 
.input_icon_right .value{
    text-align: left;
    width: 83%;
    display: inline-block;
    font-size: 17px;
    padding: 9px 0;
    vertical-align: top;
    padding-left: 2%;
    float: left;
}

.input_icon_right img{
    width: 35px;
    height: 35px;
    vertical-align: top;
    padding: 3px 0;
}

.input_icon_right .image_credit_card_catalog{
    width: 15%;
    float: right;
    text-align: center;
}

.input_icon_right .image_credit_card_catalog img{
    width: 28px;
    height: 28px;
    vertical-align: top;
    padding: 6px 0;
}




.form_group input[type="text"], .form_group input[type="email"], .form_group input[type="number"], .form_group input[type="password"], .form_group input[type="tel"], .form_group select, textarea{
    display: inline-block;
    width: 91%;
    height: 35px;
    vertical-align: top;
    border: 0;
    outline: none;
    border: 2px solid #311838;
    border-radius: 5px;
    padding: 0.5% 4%;
    font-size: 20px;
    background-color: white;
}

.form_group select{
    height: 41px;
    width: 100%;
    appearance:none;
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    font-family: 'FjallaOne';    
}

.button_purple{
    background: #311838;
    font-family: 'FjallaOne';
    color: white;
    display: inline-block;
    border: none;
    outline: none;
    font-size: 21px;
    padding: 15px 13px;
    border-radius: 5px;
    min-width: 145px;
    width: 95%;
    max-width: 160px;   
}

.button_orange{
    background: #dd892f;
    font-family: 'FjallaOne';
    color: white;
    display: inline-block;
    border: none;
    outline: none;
    font-size: 21px;
    padding: 10px 13px;
    border-radius: 5px;
    min-width: 145px;    
}

.to_bottom{
    bottom: 0;
    position: absolute;
    width: 100%;  
    margin-bottom: 10px;  
}


.color_orange::-webkit-input-placeholder {
   color: #dd892f;
}

.pr_0{
    padding-right: 0 !important;
}

.dib{
    display: inline-block;
}

.select_map{
    padding-left: 40px !important;
}

.select_map option[value="+52"]{ 
    color: pink !important;
    background-image:url("../select_banderas/mexico.png");   
}
 
.extension_lada{
    border: 2px solid #311838;
    border-radius: 5px;
    color: #dd892f;
    font-family: 'FjallaOne';
    font-size: 20px;    
    background-color: white !important;
}

.extension_lada div{
    display: inline-block;
    padding: 5px 0;
}

.extension_lada .intl-tel-input, .intl-tel-input.allow-dropdown .flag-container, .intl-tel-input.allow-dropdown .selected-flag{
    width: 100%;
}

.extension_lada .value{
    margin-top: -35px;
    position: absolute;
    margin-left: 50px;    
}

.iti-arrow{
    display: none !important;
}

.arrow_down_select{
    background: url("../img/select_down.png") right center no-repeat;
    background-size: 33px;
}



.vertical-align_top{
    vertical-align: top;
}


.three_divs_inline .second, .three_divs_inline .thirth{
    margin-left: -2%;
}

.three_divs_inline .first, .three_divs_inline .second{
    margin-right: 5.2%;
}

 
.modal_message_error_background{
    width: 100%;
    height: 100%;
    z-index: 1000;
    position: fixed;
    display: none;
}

.modal_message_error{
    width: 84%;
    margin: 0 6%;
    z-index: 1000;
    position: fixed;
    border-radius: 10px;
    padding: 20px 2%;
    margin-top: 50%;
    display: none;
}

.modal_message_error_background{
    background: rgba(0,0,0, 0.2);
}

.modal_message_error{
    background: rgba(0,0,0, 0.75);   
}

.modal_message_error .icon_modal{
    width: 100px;
}

.modal_message_error .title{
    color: white;
    text-shadow: none;
    font-size: 19px;
    font-weight: 100;
    width: 95%;
    margin: 0 2.5%;   
    font-family: "NexaLight"; 
}

.image_perfil_icon{
    height: 150px;
    width: 150px;
    border-radius: 10000px;
    vertical-align: bottom;
    background-size: cover !important;
    background: url("../img/perfil.jpg");
    background-position: center center;
    background-repeat: no-repeat;
}

.border_orange{
    display: inline-block;
    background-color: #d68734;
    border-radius: 1000px; 
    padding: 8px 8px;       
}

.border_transparent{
    display: inline-block;
    background-color: white;
    border-radius: 1000px; 
    padding: 5px 5px;  
    vertical-align: bottom;     
}

.camera_icon{
    width: 75px;
    position: absolute;
    margin-left: 110px;
    margin-top: 110px;
}

.teminos_condiciones{
    width: 80%;
    margin: 0 auto;
}

.mw110px{
    min-width: 110px !important;
}

.img_header_logo_text{
    padding: 0 !important;
}

.img_header_logo_text img{
    height: 26px;
    padding-top: 15px;
}

.ui-page-theme-a .ui-bar-inherit{
    background: #311838;
    border: 0;
    height: 60px;
    top: 0;
}

.ui-header{
    position: fixed;
}

.herramienta_icon{
    height: 25px;
    padding: 15px 0;
    margin-right: 15px;
} 

.left_icon{
    height: 25px;
    padding: 15px 0;
    margin-left: 15px;
} 

.right_icon{
    height: 25px;
    padding: 15px 0;
    margin-right: 15px;
} 


.imagen_perfil_perfil{
    margin: 10px 0;
}

.menu_settings{
    background: #311838;
    position: fixed;
    top: 60px;
    width: 190px;
    right: -200px;
    border-top: 2px solid white;
    padding-bottom: 5px;
    border-radius: 0 0 5px 5px;  
    z-index: 1000; 
}

.menu_settings .option{
    height: 35px;
}

.menu_settings img{
    height: 25px;
    width: 25px;
    padding: 5px 5px 5px 10px;
    display: inline-block;
}

.menu_settings p{
    display: inline-block;
    font-family: "FjallaOne";
    color: white;
    font-size: 14px;
    text-shadow: none;
    padding: 9px 0 5px 0;
    vertical-align: top;
    text-align: left;
    width: 145px;
    font-weight: bold;
    border-bottom: 1px solid white;
}



.menu_settings_resumen{
    background: #311838;
    position: fixed;
    top: 60px;
    width: 190px;
    left: -200px;
    border-top: 2px solid white;
    padding-bottom: 5px;
    border-radius: 0 0 5px 5px;  
    z-index: 1000; 
}

.menu_settings_resumen .option{
    height: 35px;
}

.menu_settings_resumen img{
    height: 25px;
    width: 25px;
    padding: 5px 5px 5px 10px;
    display: inline-block;
}

.menu_settings_resumen p{
    display: inline-block;
    color: white;
    font-size: 8px;
    text-shadow: none;
    padding: 13px 0 11px 0;
    vertical-align: top;
    text-align: left;
    width: 145px;
    font-weight: bold;
    border-bottom: 1px solid white;
}



#loading{
    width: 100%;
    height: 100%;
    background: rgba(49,24,56,0.6);
    position: fixed;
    z-index: 10000;
    display: none;
    text-align: center;
}

#loading img{
    width: 33px;
    margin: 0 auto;
    display: inline-block;
}

.switch_form .ui-btn-active{
    background: #311838 !important;
}

.switch_form .ui-bar-inherit{
    background: #d68734 !important;
    height: 32px !important;
    border-radius: 30px;
    color: white !important;
    font-weight: 100 !important;
    margin: 5px 0;
}

.switch_form .ui-btn.ui-slider-handle{
    border-radius: 100px;
}

.ui-page-theme-a .ui-btn:focus{
    box-shadow: none;
}

.switch_form label{
    display: inline-block;
    width: 60%;
    vertical-align: top;
    margin: 0;
    font-size: 20px;
    margin: 8px 0;     
    margin-left: 5px;   
}

.switch_form .switch_input{
    display: inline-block;
    width: 35%;
    vertical-align: top;  
    text-align: right;
}

.switch_form{
    height: 42px;
    border: 2px solid #311838;
    border-radius: 5px;    
    background-color: white;
}


.list .sect img{
    width: 35px;
    height: 35px;
    display: inline-block;
    padding: 5px 10px;
}
.list .sect label{
    display: inline-block;
    font-weight: bold;
    font-family: 'FjallaOne';
    font-size: 15px;
    padding: 15px 0;
    vertical-align: top;
    margin: 0;  
}

.list{
    text-align: right;
}

.list .icono{
    width: 17%;
    display: inline-block;
    vertical-align: top;
}

.list .texto{
    width: 80%;
    text-align: left;
    display: inline-block;
    vertical-align: top;
    border-bottom: 2px solid #311838;    
}

.border_bottom_title{
    border-bottom: 2px solid #311838;  
    padding-bottom: 8px;  
    padding-top: 11px;  
}

#numero_version{
    background: #311838;
}

.bg_version{
    background: #311838;
    text-align: center;
}

.bg_version img{
    width: 60%;
}

.label_white{
    color: white;
    box-shadow: none;
    font-weight: bold;
    font-family: 'FjallaOne';   
    font-size: 18px !important; 
}

.checked_two_buttons{
    border: 2px solid #311838;
    background: white;
    color: #311838;
    font-size: 20px;
    border-radius: 5px;    
}

.checked_two_buttons .checked{
    background: #311838;
    color: white;
    border: solid 1px #311838;    
}

.checked_two_buttons .block_selected{
    padding: 8px 0;
}

.producto_item{
    width: 90%;
    margin: 0% 5% 5% 5%;
    display: inline-block;
}

.producto_item .imagen_producto{
    width: 30%;
    float: left;
    min-height: 100px;
    text-align: center;
}
.producto_item .descripcion_producto{
    width: 69%;
    padding-left: 1%;
    float: right;
    min-height: 100px;
}

.producto_item .imagen_producto img{
    max-height: 100px;
    max-width: 100%;
}

.producto_item .descripcion_producto .descripcion_producto_label{
    color: #311838;
    font-family: 'FjallaOne';
    font-size: 14px;  
    text-align: left;
}

.producto_item .descripcion_producto .precio_producto_label{
    color: #dd892f;
    font-family: 'FjallaOne';
    font-size: 14px;   
    text-align: left;
}

.descripcion_producto .cantidad_producto .less_product, .descripcion_producto .cantidad_producto .quantity_product, .descripcion_producto .cantidad_producto .add_product{
    display: inline-block;
    text-align: center;
    vertical-align: top;
    float: left;
}

.descripcion_producto .cantidad_producto{
    border: 2px solid #311838;
    border-radius: 5px;    
    background: #311838;
    width: 170px;
    height: 35px;
    margin: 0 auto;
    margin-top: 10px;
}

.descripcion_producto .cantidad_producto .less_product, .descripcion_producto .cantidad_producto .add_product{
    height: 35px;
    width: 35px;
    background: #311838;
    color: #dd892f;
    border-radius: 5px;
}

.descripcion_producto .cantidad_producto .less_product{
    background: url("../img/less_icon.png") center center no-repeat;
    background-size: contain;
}

.descripcion_producto .cantidad_producto .add_product{
    background: url("../img/add_icon.png") center center no-repeat;
    background-size: contain;
}

.descripcion_producto .cantidad_producto .quantity_product{
    background: white;
    height: 35px;
    width: 100px;
}

.descripcion_producto .cantidad_producto .quantity_product input[type="number"]{
    width: 100%;
    border: none;
    text-align: center;
    height: 35px;
    padding: 0;
    color: #dd892f;
    font-size: 27px;  
    font-family: 'FjallaOne';
}

.cantidad_pagar{
    background: white;
    height: inherit;
    border-radius: 5px;
    margin: 15px 0;
    margin-right: 15px;
    max-width: 130px;
    display: inline-block;
}

.img_header_logo_text .icono_carrito{
    width: 25%;
    float: left;
    text-align: center;
}
.img_header_logo_text .precio_{
    width: 75%;
    float: right;
    line-height: 30px;
    color: #dd892f; 
    font-family: 'FjallaOne';
    font-size: 21px;
}

.img_header_logo_text .icono_carrito img{
    padding: 2px 0;
    margin-left: 5px;
}

.header_product{
    margin: 0 35% !important;
}

.header_cantidad_pagar{
    margin: 0 23% 0 30% !important;
}

.header_cantidad_pagar_olvida{
    margin: 0 0 0 10% !important; 
    text-align: right;  
}

.cantidad_pagar .cantidad_comprado{
    display: inline-block;
    background: #dd892f;
    color: white;
    font-size: 13px;
    border-radius: 100px;
    padding: 3px;
    text-align: center;
    float: right;
    margin-top: -40px;
    margin-right: -15px; 
    width: 15px;
    height: 15px;
    text-shadow: none !important;
}

.logo_icon_open_cava{
    display: inline-block;    
}

.logo_icon_open_cava img{
    height: 26px;
    padding-top: 15px;
    margin-left: 15px;
}

.correcta_ubicacion_title{
    display: inline-block;
    width: 100%;
    background: #dd892f;
    color: white;
    text-align: center;
    font-family: 'FjallaOne';
    font-size: 22px;
    text-shadow: none;  
    padding: 11px 0;  
    z-index: 800;
    position: fixed;    
}

.ubicacion_correcta_boton{
    background: #3d2942;
    width: 100%;
    z-index: 800;
    position: fixed;  
    bottom: 0;
    padding: 5px 0;  
}

.check_img{
    width: 23px;
    height: 23px;
    margin-top: 0px;
    vertical-align: top;
}


#icono_gps{
    height: 55px;
    position: fixed;
    z-index: 900;
}

#map .gm-style{
    background: url("../img/map_dif.png") center center no-repeat;
    background-size: cover;
}

.resumen_table{
    border: 2px solid #311838;
    width: 82%;
    margin: 0 9%;
    border-radius: 5px;
    background-color: white;
}

.resumen_table .fecha{
    color: #dd892f;
    font-family: 'FjallaOne';
    font-size: 16px;
    text-align: center;
    margin: 3px 0;
}

.resumen_table .total_pagar{
    font-family: 'FjallaOne';
    font-size: 18px;
    text-align: right; 
    padding-right: 0px;    
}

.resumen_table .cantidad_pagar{
    margin: 0 !important;
    width: 100%;
    text-align: center;
}






.compras_realizadas_row{
    border: 2px solid #311838;
    width: 82%;
    margin: 0 9%;
    border-radius: 5px;
    display: inline-block;
    margin-bottom: 2px;
    font-family: 'FjallaOne';  
    background-color: white;  
}


.compras_realizadas_row .title{
    width: 80%;
    float: left;
    color: #311838;
    font-size: 12px;
    font-family: 'FjallaOne';
    font-size: 14px;  
    padding: 6px 0;   
    padding-left: 3%;       
}

.compras_realizadas_row .title .color_orange{
    padding-right: 10px;
}

.compras_realizadas_row .header{
    height: 30px;
    padding: 4px 0;
}

.compras_realizadas_row .title div{
    display: inline-block;
}

.compras_realizadas_row .icon_plus{
    width: 17%;
    float: right;  
    text-align: center;
}

.compras_realizadas_row .icon_plus img{
    width: 28px;
    height: 28px;
}


.compras_realizadas_row .contents .producto{
    width: 73%;
    float: left;
    color: #311838;
    font-size: 12px;
    font-family: 'FjallaOne';
    text-align: left;  
}

.compras_realizadas_row .contents .precio{
    width: 27%;
    float: right;
    color: #dd892f;
    font-size: 12px;
    font-family: 'FjallaOne';
    text-align: center;
}

.compras_realizadas_row .contents{
    display: none;
}


.compras_realizadas_row .contents .row_content{
    padding-bottom: 0px;
    display: inline-block;
    width: 96%;
    margin: 0 2%;
}

.compras_realizadas_row .contents .row_content:first-child{
    padding-top: 5px;
}





















 

.descripcion_producto_resumen .cantidad_producto{
    border: 2px solid #311838;
    border-radius: 5px;    
    background: #311838;
    width: 120px;
    height: 30px;
    margin: 0 auto;
}

.descripcion_producto_resumen .cantidad_producto .less_product, .descripcion_producto_resumen .cantidad_producto .add_product{
    height: 30px;
    width: 30px;
    background: #311838;
    color: #dd892f;
    border-radius: 5px;
}

.descripcion_producto_resumen .cantidad_producto .less_product{
    background: url("../img/less_icon.png") center center no-repeat;
    background-size: contain;
}

.descripcion_producto_resumen .cantidad_producto .add_product{
    background: url("../img/add_icon.png") center center no-repeat;
    background-size: contain;
}

.descripcion_producto_resumen .cantidad_producto .quantity_product{
    background: white;
    height: 30px;
    width: 60px;
}

.descripcion_producto_resumen .cantidad_producto .quantity_product input[type="number"]{
    width: 100%;
    border: none;
    text-align: center;
    height: 30px;
    padding: 0;
    color: #dd892f;
    font-size: 27px;  
    font-family: 'FjallaOne';
}

.descripcion_producto_resumen .cantidad_producto .less_product, .descripcion_producto_resumen .cantidad_producto .quantity_product, .descripcion_producto_resumen .cantidad_producto .add_product {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    float: left;
}

.descripcion_producto_resumen .cantidad_producto .less_product, .descripcion_producto_resumen .cantidad_producto .quantity_product, .descripcion_producto_resumen .cantidad_producto .add_product {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    float: left;
}

#productos_resumen .label_resumen{
    color: #311838;
    font-size: 12px;
    font-family: 'FjallaOne';  
    padding-left: 8px;  
}

#productos_resumen .block_producto{
    margin-bottom: 17px;
}

.resumen_top{
    padding: 3px 0 0px 0;
}

#tarjetas_agregadas_list .input_icon_right:first-child{
    margin-top: 10px;
}
#tarjetas_agregadas_list .input_icon_right{
    margin-top: 5px;
}

#tarjetas_agregadas_list .input_icon_right img{
    width: 28px;
    height: 28px;
    vertical-align: top;
    padding: 6px 0;
}

.input_icon_right .image_credit_card{

}

#tarjetas_agregadas_list .input_icon_right .value{
    width: 83%;
    float: left;
    padding-left: 2% !important;
}

#tarjetas_agregadas_list .input_icon_right .image_credit_card{
    width: 15%;
    float: right;
    text-align: center;
}

.image_top_header img{
    width: 100%;
    max-width: 250px;
    display: inline-block;
    margin: 0 auto;
}

.image_top_header{
    display: inline-block;
    width: 100%;
    text-align: center;   
}

#aux_splashscreen{
    width: 100%;
    height: 100%;
    background-color: black !important;
    background-position: center center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    position: fixed !important;
    z-index: 10000;
    text-align: center;
    display: none;
}

.nexa-light{
    font-family: 'NexaLight';
}

.bolder{
    font-weight: bold;
}

.trash_icon_header{

    height: 35px;
    padding: 11px 0;
    padding-right: 10px;    
    
}

.w110pxm0auto{ 
    width: 120px;
    margin: 0 auto; 
    display: inline-block;
}

.w80pxm0auto{ 
    width: 120px;
    margin: 0 auto; 
    display: inline-block;
}

.w120pxm0auto{ 
    width: 120px;
    margin: 0 auto; 
    display: inline-block;
}

.fs20px{    font-size: 30px !important; }

.input_money input{
    width: 40% !important;
    text-align: center !important;
}

.w60p{  width: 60%; }
.w28p{  width: 28%; }
.w70p{  width: 70%; }
.w50p{  width: 50%; }
.w40p{  width: 40%; }
.w30p{  width: 30%; }
.w33p{  width: 33.33333333%; }
.w38p{  width: 38%; }
.w48p{  width: 48%; }
.w100p{ width: 100% !important; }

