@charset "utf-8";

/* 规则 */

.lnv-dialog {
    position: fixed;
    z-index: 13;
    width: 85%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #f9f9f9;
    text-align: center;
    border-radius: 3px;
    padding-top: 80px;
}

.lnv-dialog-confirm .lnv-dialog .lnv-dialog-hd {
    padding: 10px 0;
    margin-bottom: 0;
    text-shadow: none;
    color: #8e8e8e;
}

.lnv-dialog-confirm .lnv-dialog .lnv-dialog-bd {
    text-align: center;
}

.lnv-dialog-hd {
    padding-bottom: 0;
    padding-top: 15px;
}

.lnv-dialog-title {
    font-weight: 400;
    font-size: 18px;
}

.lnv-dialog-bd {
    padding: 0 20px;
    font-size: 17px;
    color: #888;
    /*word-wrap: break-word;*/
    /*word-break: break-all;*/
    margin: 10px 0 25px 0;
}

.lnv-dialog-ft {
    position: relative;
    line-height: 42px;
    margin-top: 0px;
    font-size: 17px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    background: white !important;
}

.lnv-dialog-ft a {
    display: block;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    color: #3CC51F;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.lnv-dialog-ft a:active {
    background-color: #EEEEEE;
}

.lnv-dialog-ft:after {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 1px;
    border-top: 1px solid #D5D5D6;
    color: #D5D5D6;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
}

.lnv-dialog-confirm .lnv-dialog-ft a {
    position: relative;
}

.lnv-dialog-confirm .lnv-dialog-ft a:after {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    width: 1px;
    height: 100%;
    border-left: 1px solid #D5D5D6;
    color: #D5D5D6;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleX(0.5);
    transform: scaleX(0.5);
}

.lnv-dialog-confirm .lnv-dialog-ft a:first-child:after {
    display: none;
}


.lnv-btn-dialog.default {
    color: #353535;
}

.lnv-btn-dialog.primary {
    color: #9D9C9C;
}

@media screen and (min-width: 1024px) {
    .lnv-dialog {
        width: 35%;
    }
}

.lnv-mask {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
}

.lnv-mask-transparent {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.lnv-mask-transition {
    display: none;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0);
    -webkit-transition: background .3s;
    transition: background .3s;
}

.lnv-dialog .icon{
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
    width: 100%;
    display: block;
    position: absolute;
    top: 0;
}

.lnv-dialog .icon img{
    height: 50px;
    zoom: 114%;
    position: relative;
    top: 0;
    left: 0;
    display: inline-block;
    -webkit-animation: mymove 1s; /* Safari 4.0 - 8.0 */
    animation: mymove 1s;
    animation-fill-mode: forwards;
}


@-webkit-keyframes mymove {
    0% {transform: scale(1);}
    25% {transform: scale(1.08);}
    50% {transform: scale(1);}
    75% {transform: scale(1.08);}
    100% {transform: scale(1);}
}

/* Standard syntax */
@keyframes mymove {
    0% {transform: scale(1);}
    25% {transform: scale(1.08);}
    50% {transform: scale(1);}
    75% {transform: scale(1.08);}
    100% {transform: scale(1);}
}









